/* Accordion Outline Color Override For Better Accessibility Contrast */
/* BRAVO VERSION - Must also support #FFFFFF and #F5F5F5 in addition to #001970  */

/* TWO DIFFERENT KINDS OF ACCORDION - GET BOTH */

.paragraph--type--bp-accordion .panel .panel-title > button:focus-visible {
    outline: 2px solid #B38600 !important;
    outline-offset: 2px;
    transition: outline-offset 0.15s linear;
}

.ckeditor-accordion-container > dl dt a.ckeditor-accordion-toggler:focus-visible, .ckeditor-accordion-container > dl dt button.ckeditor-accordion-toggler:focus-visible {
    outline: 2px solid #B38600 !important;
    outline-offset: 2px;
    transition: outline-offset 0.15s linear;
}
