//Generalized Fixes Contributed By: Joel Risberg

/* Heading sizing and font styling */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {

    font-family: "museo-sans", sans-serif; }

h1, .h1 {

	margin-top: 12px; }

h2, .h2 {

    font-size: calc(1.65rem + 1vmin); }

h3, .h3 {

    font-size: calc(1.3rem + 1vmin); }

h4, .h4 {

    font-size: calc(1rem + 1vmin); }

h5, .h5 {

    font-size: calc(.8rem + 1vmin); }

h6, .h6 {

    font-size: calc(.6rem + 1vmin); }

h1.page-header { 

	margin: 0 0 .5rem; } 

/* Tweak print styles */

@media print {

	@page {margin: 1.25cm 0.5cm;size: auto;} 

	.header__logo--image {height: 2rem;} 

	#block-views-block-alert-bar-block-1 {display: none;} 

	.top-nav {display: none;} 

	.tabs {display: none;} 

	.breadcrumb {display: none;} 

	 footer {display: none;} 

	.footer__global-footer {display: none;} 

	.page-header {margin: 0;} 

	.header { padding: .25rem;} 

	.header__search {display: none;}

	#quick-feedback {display:none;} 

	}

/* Tighten breakcrumb spacing */

.breadcrumb { margin-bottom: .5rem; }

/* Tweak iframes */

.iframecontainer { 

position: relative; 

overflow: hidden; 

width: 100%; 

padding-top: 56.25%; 

}

responsive-iframe { 

position: absolute; 

top: 0; 

left: 0; 

bottom: 0; 

right: 0; 

width: 100%; 

height: 100%;  }

/* Tweak card fonts */

.paragraph--type--card-icon .paragraph__column .paragraph__card--icon-link {

    font-family: "museo-sans", sans-serif; }

/* Tweak main menu styles - Updated for new menus (6/2024)  */

.top-nav .tbm-link-container .tbm-link.level-1 {

    color: #fff;

    font-weight: bold;

    padding: .4em 1.5em .4em 1.5em;

    font-size: 18px;

}

.tbm-link.level-1:hover {

    background-color: lightgray!important;

    color: black!important;

}

/* Tighten header */

.header {

    padding: .5rem 0 .5rem 0; }

/* Tighten site logo */

@media (max-width: 1024px) {

    .header__logo--image {

        margin-top:2em;  } }

/* Tighten site search box */

.header__search.googlesearch .search-block-form form .js-form-type-search {

    width: 50%;

    float: right; }

.header__search.googlesearch .search-block-form form {

    display: block }

.header .col-sm-5 {

    display: flex;

    flex-direction: unset; }

/* Subtle table borders */

table tr,td,th {

    border: 0.05rem solid darkgray; }
