//Increase Size of Interactive Elements - CSS Style Contributed By: Abi & Skyler

#main-content h3 a, #main-content a:not(p a):not(aside a):not(nav a), #xyBackground > main > div > nav > ol > li > a:not(aside a):not(nav a), #block-blockmainfooter a, footer a, #main-content li a:not(aside a):not(nav a),  #main-content .row button:not(nav button) { display: inline-block; min-height: 44px; min-width: 44px;} 

#toolbar-administration li a, .toolbar-tab a { display: inline-block; min-height: 44px; min-width: 44px; vertical-align: middle; color: #000000;} 

#search-block-form  button { display: inline-block; min-height: 44px; min-width: 44px; margin: 0px 10px 0px 10px; background-size: 80%; background-repeat:no-repeat} 

#toolbar-item-administration-tray > nav > div.toolbar-toggle-orientation > div > button, #toolbar-bar > div.contextual-toolbar-tab.toolbar-tab > button { display: inline-block; min-height: 44px; min-width: 44px; vertical-align: middle;} 

.toolbar-lining {color: #333333;} 
